.search-page {
  margin: 30px;
}

.search-form {
  min-width: 150px;
  width: 100%;
  text-align: left;
}

.mat-form-field, .mat-table {
  font-family: 'Ubuntu', sans-serif;
}

ts-input {
  display: inline-block;
  width: 60%;
  margin-right: 20px;
  background-color: white;
}

button {
  margin-left: 20px;
}

table {
  width: 100%;
  border: none;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

td img {
  max-height: 100px;
}

.search-mat-table {
  margin-bottom: 20px;
}

.mat-row:nth-child(even){
  background-color: #e3ebf5;
}
.mat-row:nth-child(odd){
  background-color: rgb(248, 246, 248);
}