.search-page {
  margin: 30px;
}

.search-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  color: black;
  text-align: center;
}

.mat-form-field, .mat-table {
  font-family: 'Ubuntu', sans-serif;
}

.search {
  width: 80%;
}

input {
  background-color:#e3ebf5;
}

button {
  margin-left: 20px;
}

table {
  width: 100%;
  border: none;
}

th.mat-header-cell, td.mat-cell {
  text-align: center;
}

td img {
  max-height: 100px;
}

.search-mat-table {
  margin-bottom: 20px;
}

.mat-row:nth-child(even){
  background-color: #e3ebf5;
}
.mat-row:nth-child(odd){
  background-color: rgb(248, 246, 248);
}